---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% 
  set maxPosts = collections.posts.length | min(10) 
%}

{%  set next = collections.posts | nextRelease %}

{% import "release.njk" as funcs %}
{{ funcs.release(next.data.title, next.data.page, next.data.tags, next.templateContent, collections) }}

<h1>Upcoming {% if maxPosts == 1 %}Release{% else %}{{ maxPosts }} Releases{% endif %}</h1>

{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More releases can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
